<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div class="container">
            <div class="itens-menu">
                <button routerLink="" mat-button><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></button>
                <h1>PUC Store</h1>
                <button routerLink="/carrinho" mat-button><mat-icon  aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_cart"></mat-icon> </button>
            </div>
            
        </div>
        
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
